/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Formulário */
.formulario {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.form-emprestimo {
    margin-bottom: 15px;
}

.form-emprestimo label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

.form-emprestimo input {
    width: 94%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.block-button {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.block-button button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
    width: 100%;
    transition: background-color 0.3s ease;
}

.block-button button:hover {
    background-color: #45a049;
}

.block-button button:active {
    background-color: #388e3c;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}

td {
    background-color: #fafafa;
}

#res {
    margin-top: 20px;
    font-size: 18px;
    color: #333;
}